### 문자열 타입

- 파이썬에서 문자열 '',""가능
- """ """, ''' ''' 가능
- 원래 enter하면 \n 의 형태로 출력, 하지만 \를 하고 엔터하면 한줄로 출력가능

In [5]:
str1 = "Life is too short, You need Python"
str1 = 'Life is too short, You need Python'
str1 = """Life is too short, You need Python"""
str1 = '''Life is too short,\
You need Python'''
str1

'Life is too short,You need Python'

In [ ]:
str1 = "Python's favorite food is perl"

In [6]:
# + : 연결의 읨
head = "Python"
tail = "is fun"
head + tail

'Pythonis fun'

In [7]:
# * : 반복
print("***************") # 할필요 없이
print("번호 이름 나이")
print("*"*10)

***************
번호 이름 나이
**********

In [ ]:
len(head) # 길이 구하기

6

In [ ]:
str1 = "Life is too short, You need Python"
# 문자열 인덱싱과 슬라이싱
print(str1[0]) # 왼쪽 시작
print(str1[-1]) # 오른쪽 끝
# 슬라이싱
print(str1[0:5]) #Life 
print(str1[5:]) #is too short, You need Python
print(str1[19:-7]) #You need

L
n
Life
is too short, You need Python
You need

In [15]:
str2 = "20260305Sunny"
date = str2[0:8]
weather = str2[8:]
print(date,weather)

20260305 Sunny

In [21]:
str2= "901205-1234567" # 1 or 3 남자 / 2,4 여자
A = str2[7]
if A == "1" or "3" :
    print("남자")
else:
    print("여자")

남자

In [22]:
for s in str1:
    print(s+"$", end="")

L$i$f$e$ $i$s$ $t$o$o$ $s$h$o$r$t$,$ $Y$o$u$ $n$e$e$d$ $P$y$t$h$o$n$

In [ ]:
# 숫자를 입력받고 문자로 처리
# 54321
str3 = input("숫자")
for i in range(len(str3)):
    for s in range(int(str3[i])):
        print("♥", end=" ")
    print()

♥ ♥ ♥

In [38]:
print(" i eat %d apples " %3) # %d: 정수 %f : 부동소수
print(" i eat %s apples " %3)# $s: 문자열, $c: 문자 1개
print(" i eat %s apples " %"five")
print(" i eat %s apples " %3.14)
print("%10s"%"hi")
print("%0.4f"% 3.141592)

 i eat 3 apples
 i eat 3 apples
 i eat five apples
 i eat 3.14 apples
        hi
3.1416

In [41]:
# format()
print("I eat {0} apples".format(3))
print("I eat {0} apples".format("five"))
print("I eat {0} apples. so I was sick for {1} days".format(10,3))
number = 10
day = "three"
print(f"I eat {number} apples. so I was sick for {day} days")

I eat 3 apples
I eat five apples
I eat 10 apples. so I was sick for 3 days
I eat 10 apples. so I was sick for three days

In [ ]:
print("{0:>10}".format("hi"))# 우측정렬
print("{0:^10}".format("hi"))# 가운데정렬
print("{0:<10}".format("hi"))# 좌측정렬

        hi
    hi
hi

In [ ]:
# 문자열 함수
a = "hobby"
 # a 문자열 안에 b 문자의 개수
a.count("b")
a.find("b") # 있으면 위치, 없으면 -1
print(a.index("o"))
# print(a.index("a")) index는 없으면 오류를 띄워버림
print(",".join("abcd")) # join():문자열 삽입
list = ['a','b','c']
print(list)
print("".join(list)) # list를 문자열로 변경 -> 이기능을 많이 씀

1
a,b,c,d
['a', 'b', 'c']
abc

In [57]:
# upper(),lower()
print(a.upper())

# 공백제거 : strip, rstrip,lstrip
a = "             hi"
print(a.rstrip())
print(a.lstrip())
print(a.strip())

             HI
             hi
hi
hi

In [59]:
# replace
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [ ]:
#split() : 기본 공백기준 리스트반환
a.split()

['Life', 'is', 'too', 'short']

In [61]:
# startwith, endwith
a.startswith("L")
a.endswith("L")

False

In [69]:
# 입력 -> 년/월/일 (2026/02/26)
# 10년 후의 날짜를 계산 후 보여주기 => 2036년 02월 26일
origin = input('년/월/일')
orisp = origin.split('/')
year = int(orisp[0]) + 10
month = orisp[1]
day = orisp[2]
print(f'{year}년 {month}월 {day}일')

2026년 02월 02일

In [81]:
# 비밀번호 생성
# http://naver.com이라고 할 대
# 규칙 1. http:// 제외-> naver.com
# 규칙 2. 첫번째로 나오는 마침표 이후 부분 제외 -> naver
# 규칙 3. 남은 글자 중 첫 세자리 + 글자 개수 + 글자 내 'e' 문자 개수 + !

password = "http://naver.com" 
password = password[7:]
# origin.replace("http://","") 해서 잘라내기
password = password[0:5]
# ori1[:ori1.find(".")]로 대체 가능
password = password[0:3] + str(len(password)) + str(password.count('e')) + "!"
print(password)

nav51!

### 리스트
- 자바스크립트의 배열구조와 동일함
- 중복가능, 순서가 있다

In [86]:
# 리스트 생성
list1 = []
list3 = ['a','b','c']
list4 = ['a','b','c',5,6,7,8,3.14]
list5 = ['a','b',['Life','is','egg']]
print(list1)
print(list3)
print(list4)
print(list5)

[]
['a', 'b', 'c']
['a', 'b', 'c', 5, 6, 7, 8, 3.14]
['a', 'b', ['Life', 'is', 'egg']]

In [ ]:
# 인덱싱과 슬라이싱
print(list3[1:])
print(list3[-1:])
print(list5[2][1])
print(list5[-1][1])
print(list4[::-1]) # 전체 출력하면서 거꾸로 출력

['b', 'c']
['c']
is
is
[3.14, 8, 7, 6, 5, 'c', 'b', 'a']

In [ ]:
# + : 연결
print(list3 +list4)
# * : 반복
print(list4*2)
# 수정
list3[2] = 'd'
print(list3)
list3[1:2] =  [10,11]
print(list3)
list3[1] =  [10,11]
print(list3)
# 추가
list1.append(15)
list1

['a', [10, 11], 11, 'd', 'd', 'd', 'd', 'd', 'a', 'b', 'c', 5, 6, 7, 8, 3.14]
['a', 'b', 'c', 5, 6, 7, 8, 3.14, 'a', 'b', 'c', 5, 6, 7, 8, 3.14]
['a', [10, 11], 'd', 'd', 'd', 'd', 'd', 'd']
['a', 10, 11, 'd', 'd', 'd', 'd', 'd', 'd']
['a', [10, 11], 11, 'd', 'd', 'd', 'd', 'd', 'd']

[15]

In [105]:
#삭제
# list3[3:] = []
# 혹은 del
del list3[1]
list3

['a']

In [109]:
# 정렬
list6 = [25,75,15,9,6,3,5]
print(f"정렬 전 {list6}")
list6.sort()#원본이 정렬됨
print(f"정렬 후 {list6}")

list7 = ['z','q','d','g','a','m']
print(f"정렬 전 {list7}")
list7.sort(reverse=True)#원본이 정렬됨
print(f"내림차순 후 {list7}")

정렬 전 [25, 75, 15, 9, 6, 3, 5]
정렬 후 [3, 5, 6, 9, 15, 25, 75]
정렬 전 ['z', 'q', 'd', 'g', 'a', 'm']
내림차순 후 ['z', 'q', 'm', 'g', 'd', 'a']

In [ ]:
# sorted : 원본 보존 가능
list7 = ['z','q','d','g','a','m']
result = sorted(list7)
print(list7)
print(result)

['z', 'q', 'd', 'g', 'a', 'm']
['a', 'd', 'g', 'm', 'q', 'z']

In [ ]:
# remove : 중복요소가 있으면 첫 요소만 삭제
list7.remove('a')

In [113]:
list7

['z', 'q', 'd', 'g', 'm']

In [ ]:
#pop : 맨끝 요소 제거하거나 ()안 지정 제거
list7.pop(2)
list7

['z', 'q', 'g']

In [119]:
#count : 
list7.count('q')

1

In [ ]:
# list7 = list3 +list4 와 유사하지만 원본에 합산하는 방법
list3.extend(list4)
list3

['a', 'a', 'b', 'c', 5, 6, 7, 8, 3.14]

In [122]:
# 리스트 요소 모두 삭제
list3.clear()
list3

[]

In [135]:
# 100 이상의 숫자 개수
numbers = [273,103,5,32,65,9,72,800,99]
count = 0
for i in range(len(numbers)):
    A = numbers[i]
    if A >= 100:
        print(A)
        count += 1
print(f"100이상 수 {count} 개")

273
103
800
100이상 수 3 개

In [130]:
# numbers의 숫자와 자릿수 출력
# 출력예시 : 273 -> 3자릿수
for i in range(len(numbers)):
    A = str(numbers[i])
    print(f'숫자 : {A}, 자릿수 :{len(A)}')

숫자 : 273, 자릿수 :3
숫자 : 103, 자릿수 :3
숫자 : 5, 자릿수 :1
숫자 : 32, 자릿수 :2
숫자 : 65, 자릿수 :2
숫자 : 9, 자릿수 :1
숫자 : 72, 자릿수 :2
숫자 : 800, 자릿수 :3
숫자 : 99, 자릿수 :2

In [ ]:
# 1~100 까지의 숫자 중 짝수인 리스트 생성
list8 = []
# list(ranger(1,101,2))
for i in range(1,101):
    if i % 2 == 0:
        list8.append(i)
print(list8)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
# 비어있는 리스트, 문자열 : False
if list1:
    print("True")
else:
    print("False")

city = ""
if city:
    print("city True")
else:
    print("city False")

False
city False

In [140]:
# in
# for i in list1: 에서 쓴 바와 같이 하나씩 i 에 넣어주는 역할을 했다.
fruits = ['사과', '딸기', '바나나', '수박', '배']
# fruits 안에 '딸기' 포함하고 있는지?
# for i in fruits: 
#     if i == '딸기':
#         print("딸기 있음")
#         break 아래와 동일
if "딸기" in fruits:
    print("딸기 있음")

딸기 있음

In [ ]:
for idx,fruit in enumerate(fruits):
    print(idx,fruit)
#(0, '사과') -> 이러한 형태를 튜플이라고 함
# (1, '딸기') 본래 print(idx)라고 하면 이렇게되지만 현재형태인
# (2, '바나나') 변수 2개를 지정해주면 이대로 풀어서 출력해줌
# (3, '수박')
# (4, '배')

0 사과
1 딸기
2 바나나
3 수박
4 배

In [158]:
classA = [70,60,55,75,95,90,80,85,100]
# total = 0
# # classA 점수의 합과 평균 구하기
# for A in enumerate(classA):
#     total +=A
#     avg = total/len(classA)
# print(total, avg)

#sum 사용
print(f"{sum(classA)},{sum(classA)/len(classA)}")

710,78.88888888888889

In [163]:
car_name = "A"
ord(car_name) # 코드값
car_name = ord(car_name) + 1
chr(car_name)

'B'

In [ ]:
# 주차장 프로그램
# 5대만 주차 가능 (차례대로 입차/출차는 반대 순서)
parking_lot = []
top, car_name = 0, "A"
while True:
    no = int(input('[1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료 '))
    if no <= 3:
        if no == 1:
            if len(parking_lot) > 5:
                print("만차입니다.")
                break
            parking_lot.append(car_name)
            print(f"{car_name} 자동차 들어감. 주차장 상태 ==> {parking_lot}")
            # car_name 새로 구하기 
            car_name = chr(ord(car_name) + 1)
                
        if no == 2:
            pass
            # 마지막 꺼내기: pop()
            parking_lot.pop()
            print(f'{car_name} 자동차 나감. 주차장 상태 ==> {parking_lot}')
            car_name = chr(ord(car_name)-1)
        if no == 3:
            print("프로그램 종료")
            break
    else:
        print("메뉴 번호를 확인해 주세요.")

A 자동차 들어감. 주차장 상태 ==> ['A']
B 자동차 들어감. 주차장 상태 ==> ['A', 'B']
C 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C']
D 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C', 'D']
E 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C', 'D', 'E']
F 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C', 'D', 'E', 'F']
G 자동차 나감. 주차장 상태 ==> ['A', 'B', 'C', 'D', 'E']
프로그램 종료