### 문자열 타입

- 파이썬에서 문자열 '',""가능
- """ """, ''' ''' 가능
- 원래 enter하면 \n 의 형태로 출력, 하지만 \를 하고 엔터하면 한줄로 출력가능

In [5]:
str1 = "Life is too short, You need Python"
str1 = 'Life is too short, You need Python'
str1 = """Life is too short, You need Python"""
str1 = '''Life is too short,\
You need Python'''
str1

'Life is too short,You need Python'

In [ ]:
str1 = "Python's favorite food is perl"

In [6]:
# + : 연결의 읨
head = "Python"
tail = "is fun"
head + tail

'Pythonis fun'

In [7]:
# * : 반복
print("***************") # 할필요 없이
print("번호 이름 나이")
print("*"*10)

***************
번호 이름 나이
**********

In [ ]:
len(head) # 길이 구하기

6

In [ ]:
str1 = "Life is too short, You need Python"
# 문자열 인덱싱과 슬라이싱
print(str1[0]) # 왼쪽 시작
print(str1[-1]) # 오른쪽 끝
# 슬라이싱
print(str1[0:5]) #Life 
print(str1[5:]) #is too short, You need Python
print(str1[19:-7]) #You need

L
n
Life
is too short, You need Python
You need

In [15]:
str2 = "20260305Sunny"
date = str2[0:8]
weather = str2[8:]
print(date,weather)

20260305 Sunny

In [21]:
str2= "901205-1234567" # 1 or 3 남자 / 2,4 여자
A = str2[7]
if A == "1" or "3" :
    print("남자")
else:
    print("여자")

남자

In [22]:
for s in str1:
    print(s+"$", end="")

L$i$f$e$ $i$s$ $t$o$o$ $s$h$o$r$t$,$ $Y$o$u$ $n$e$e$d$ $P$y$t$h$o$n$

In [ ]:
# 숫자를 입력받고 문자로 처리
# 54321
str3 = input("숫자")
for i in range(len(str3)):
    for s in range(int(str3[i])):
        print("♥", end=" ")
    print()

♥ ♥ ♥

In [38]:
print(" i eat %d apples " %3) # %d: 정수 %f : 부동소수
print(" i eat %s apples " %3)# $s: 문자열, $c: 문자 1개
print(" i eat %s apples " %"five")
print(" i eat %s apples " %3.14)
print("%10s"%"hi")
print("%0.4f"% 3.141592)

 i eat 3 apples
 i eat 3 apples
 i eat five apples
 i eat 3.14 apples
        hi
3.1416

In [41]:
# format()
print("I eat {0} apples".format(3))
print("I eat {0} apples".format("five"))
print("I eat {0} apples. so I was sick for {1} days".format(10,3))
number = 10
day = "three"
print(f"I eat {number} apples. so I was sick for {day} days")

I eat 3 apples
I eat five apples
I eat 10 apples. so I was sick for 3 days
I eat 10 apples. so I was sick for three days

In [ ]:
print("{0:>10}".format("hi"))# 우측정렬
print("{0:^10}".format("hi"))# 가운데정렬
print("{0:<10}".format("hi"))# 좌측정렬

        hi
    hi
hi

In [ ]:
# 문자열 함수
a = "hobby"
 # a 문자열 안에 b 문자의 개수
a.count("b")
a.find("b") # 있으면 위치, 없으면 -1
print(a.index("o"))
# print(a.index("a")) index는 없으면 오류를 띄워버림
print(",".join("abcd")) # join():문자열 삽입
list = ['a','b','c']
print(list)
print("".join(list)) # list를 문자열로 변경 -> 이기능을 많이 씀

1
a,b,c,d
['a', 'b', 'c']
abc

In [57]:
# upper(),lower()
print(a.upper())

# 공백제거 : strip, rstrip,lstrip
a = "             hi"
print(a.rstrip())
print(a.lstrip())
print(a.strip())

             HI
             hi
hi
hi

In [59]:
# replace
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [ ]:
#split() : 기본 공백기준 리스트반환
a.split()

['Life', 'is', 'too', 'short']

In [61]:
# startwith, endwith
a.startswith("L")
a.endswith("L")

False

In [69]:
# 입력 -> 년/월/일 (2026/02/26)
# 10년 후의 날짜를 계산 후 보여주기 => 2036년 02월 26일
origin = input('년/월/일')
orisp = origin.split('/')
year = int(orisp[0]) + 10
month = orisp[1]
day = orisp[2]
print(f'{year}년 {month}월 {day}일')

2026년 02월 02일

In [81]:
# 비밀번호 생성
# http://naver.com이라고 할 대
# 규칙 1. http:// 제외-> naver.com
# 규칙 2. 첫번째로 나오는 마침표 이후 부분 제외 -> naver
# 규칙 3. 남은 글자 중 첫 세자리 + 글자 개수 + 글자 내 'e' 문자 개수 + !

password = "http://naver.com" 
password = password[7:]
# origin.replace("http://","") 해서 잘라내기
password = password[0:5]
# ori1[:ori1.find(".")]로 대체 가능
password = password[0:3] + str(len(password)) + str(password.count('e')) + "!"
print(password)

nav51!

### 리스트
- 자바스크립트의 배열구조와 동일함
- 중복가능, 순서가 있다

In [86]:
# 리스트 생성
list1 = []
list3 = ['a','b','c']
list4 = ['a','b','c',5,6,7,8,3.14]
list5 = ['a','b',['Life','is','egg']]
print(list1)
print(list3)
print(list4)
print(list5)

[]
['a', 'b', 'c']
['a', 'b', 'c', 5, 6, 7, 8, 3.14]
['a', 'b', ['Life', 'is', 'egg']]

In [ ]:
# 인덱싱과 슬라이싱
print(list3[1:])
print(list3[-1:])
print(list5[2][1])
print(list5[-1][1])
print(list4[::-1]) # 전체 출력하면서 거꾸로 출력

['b', 'c']
['c']
is
is
[3.14, 8, 7, 6, 5, 'c', 'b', 'a']

In [ ]:
# + : 연결
print(list3 +list4)
# * : 반복
print(list4*2)
# 수정
list3[2] = 'd'
print(list3)
list3[1:2] =  [10,11]
print(list3)
list3[1] =  [10,11]
print(list3)
# 추가
list1.append(15)
list1

['a', [10, 11], 11, 'd', 'd', 'd', 'd', 'd', 'a', 'b', 'c', 5, 6, 7, 8, 3.14]
['a', 'b', 'c', 5, 6, 7, 8, 3.14, 'a', 'b', 'c', 5, 6, 7, 8, 3.14]
['a', [10, 11], 'd', 'd', 'd', 'd', 'd', 'd']
['a', 10, 11, 'd', 'd', 'd', 'd', 'd', 'd']
['a', [10, 11], 11, 'd', 'd', 'd', 'd', 'd', 'd']

[15]

In [105]:
#삭제
# list3[3:] = []
# 혹은 del
del list3[1]
list3

['a']

In [109]:
# 정렬
list6 = [25,75,15,9,6,3,5]
print(f"정렬 전 {list6}")
list6.sort()#원본이 정렬됨
print(f"정렬 후 {list6}")

list7 = ['z','q','d','g','a','m']
print(f"정렬 전 {list7}")
list7.sort(reverse=True)#원본이 정렬됨
print(f"내림차순 후 {list7}")

정렬 전 [25, 75, 15, 9, 6, 3, 5]
정렬 후 [3, 5, 6, 9, 15, 25, 75]
정렬 전 ['z', 'q', 'd', 'g', 'a', 'm']
내림차순 후 ['z', 'q', 'm', 'g', 'd', 'a']

In [ ]:
# sorted : 원본 보존 가능
list7 = ['z','q','d','g','a','m']
result = sorted(list7)
print(list7)
print(result)

['z', 'q', 'd', 'g', 'a', 'm']
['a', 'd', 'g', 'm', 'q', 'z']

In [ ]:
# remove : 중복요소가 있으면 첫 요소만 삭제
list7.remove('a')

In [113]:
list7

['z', 'q', 'd', 'g', 'm']

In [ ]:
#pop : 맨끝 요소 제거하거나 ()안 지정 제거
list7.pop(2)
list7

['z', 'q', 'g']

In [119]:
#count : 
list7.count('q')

1

In [ ]:
# list7 = list3 +list4 와 유사하지만 원본에 합산하는 방법
list3.extend(list4)
list3

['a', 'a', 'b', 'c', 5, 6, 7, 8, 3.14]

In [122]:
# 리스트 요소 모두 삭제
list3.clear()
list3

[]

In [135]:
# 100 이상의 숫자 개수
numbers = [273,103,5,32,65,9,72,800,99]
count = 0
for i in range(len(numbers)):
    A = numbers[i]
    if A >= 100:
        print(A)
        count += 1
print(f"100이상 수 {count} 개")

273
103
800
100이상 수 3 개

In [130]:
# numbers의 숫자와 자릿수 출력
# 출력예시 : 273 -> 3자릿수
for i in range(len(numbers)):
    A = str(numbers[i])
    print(f'숫자 : {A}, 자릿수 :{len(A)}')

숫자 : 273, 자릿수 :3
숫자 : 103, 자릿수 :3
숫자 : 5, 자릿수 :1
숫자 : 32, 자릿수 :2
숫자 : 65, 자릿수 :2
숫자 : 9, 자릿수 :1
숫자 : 72, 자릿수 :2
숫자 : 800, 자릿수 :3
숫자 : 99, 자릿수 :2

In [ ]:
# 1~100 까지의 숫자 중 짝수인 리스트 생성
list8 = []
# list(ranger(1,101,2))
for i in range(1,101):
    if i % 2 == 0:
        list8.append(i)
print(list8)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
# 비어있는 리스트, 문자열 : False
if list1:
    print("True")
else:
    print("False")

city = ""
if city:
    print("city True")
else:
    print("city False")

False
city False

In [140]:
# in
# for i in list1: 에서 쓴 바와 같이 하나씩 i 에 넣어주는 역할을 했다.
fruits = ['사과', '딸기', '바나나', '수박', '배']
# fruits 안에 '딸기' 포함하고 있는지?
# for i in fruits: 
#     if i == '딸기':
#         print("딸기 있음")
#         break 아래와 동일
if "딸기" in fruits:
    print("딸기 있음")

딸기 있음

In [ ]:
for idx,fruit in enumerate(fruits):
    print(idx,fruit)
#(0, '사과') -> 이러한 형태를 튜플이라고 함
# (1, '딸기') 본래 print(idx)라고 하면 이렇게되지만 현재형태인
# (2, '바나나') 변수 2개를 지정해주면 이대로 풀어서 출력해줌
# (3, '수박')
# (4, '배')

0 사과
1 딸기
2 바나나
3 수박
4 배

In [158]:
classA = [70,60,55,75,95,90,80,85,100]
# total = 0
# # classA 점수의 합과 평균 구하기
# for A in enumerate(classA):
#     total +=A
#     avg = total/len(classA)
# print(total, avg)

#sum 사용
print(f"{sum(classA)},{sum(classA)/len(classA)}")

710,78.88888888888889

In [163]:
car_name = "A"
ord(car_name) # 코드값
car_name = ord(car_name) + 1
chr(car_name)

'B'

In [ ]:
# 주차장 프로그램
# 5대만 주차 가능 (차례대로 입차/출차는 반대 순서)
parking_lot = []
top, car_name = 0, "A"
while True:
    no = int(input('[1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료 '))
    if no <= 3:
        if no == 1:
            if top >= 5:
                print("만차입니다.")
            else:
                parking_lot.append(car_name)
                print(f"{car_name} 자동차 들어감. 주차장 상태 ==> {parking_lot}")
                top += 1
                # car_name 새로 구하기 
                car_name = chr(ord(car_name) + 1)
        if no == 2:
            if top > 0:
                # 마지막 꺼내기: pop()
                parking_lot.pop()
                print(f'{car_name} 자동차 나감. 주차장 상태 ==> {parking_lot}')
                top -= 1
                car_name = chr(ord(car_name)-1)
            else : 
                print("빠져나갈 자동차가 없음")
        if no == 3:
            print("프로그램 종료")
            break
    else:
        print("메뉴 번호를 확인해 주세요.")

A 자동차 들어감. 주차장 상태 ==> ['A']
B 자동차 들어감. 주차장 상태 ==> ['A', 'B']
C 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C']
D 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C', 'D']
E 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C', 'D', 'E']
만차입니다.
F 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C', 'D', 'E', 'F']
G 자동차 나감. 주차장 상태 ==> ['A', 'B', 'C', 'D', 'E']
프로그램 종료

In [ ]:
# list comprehension
# 1~7 리스트 생성
numbers = []
numbers.append(1)
numbers.append(2)
numbers.append(3)
numbers.append(4)
numbers.append(5)
numbers.append(6)
numbers.append(7)
numbers

[1, 2, 3, 4, 5, 6, 7]

In [173]:
numbers = []
for n in range(1,8):
    numbers.append(n)
print(numbers)

[1, 2, 3, 4, 5, 6, 7]

In [175]:
list(range(1,8))

TypeError: 'list' object is not callable

In [176]:
# # list comprehension 사용
numbers2 = [n for n in range(1,8)]
numbers2

[1, 2, 3, 4, 5, 6, 7]

In [177]:
list1 = ['갑', '을', '병', '정', '무']
# 정 글자를 제외한 새로운 리스트 생성
list2 = []
for ch in list1:
    if ch != '정':
        list2.append(ch)
list2

['갑', '을', '병', '무']

In [178]:
# list comprehension 사용
list2 = [ch for ch in list1 if ch != '정']
list2

['갑', '을', '병', '무']

In [ ]:
# 홀수만 담은 리스트
numbers2 = [i for i in range(1,101) if i % 2==1]
numbers2

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [182]:
# 5글자 이상의 항목만 저장하는 새로운 리스트 생성 
list1 = ['nice','study','python','anaconda','ill']
list2 = [ch for ch in list1 if len(ch) >= 5 ]
list2

['study', 'python', 'anaconda']

In [185]:
print("ABC".isalpha()) # 알파벳이냐 isnumeric -> 숫자냐
print("ABC".isupper())
print("ABC".islower())
print("ABC".isalnum()) # 알파벳 or 숫자

True
True
False
True

In [186]:
list1 = ["A","b","c","d","E","F","G"]
# 소문자만 추출후 새로운 리스트 생성
list2 = [ s for s in list1 if s.islower() ]
list2

['b', 'c', 'd']

### 튜플(tuple)
- 리스트와 동일
- 조회 용도로 사용(속도가 빠름)
- 하지만 수정불가

In [ ]:
# 튜플 생성 : , 필수임
t1 =1,2,3
t2=()
t3=1,
t4=(1,2,('Life','is'))

In [3]:
print(t1)
print(t2)
print(t3)
print(t4)

(1, 2, 3)
()
(1,)
(1, 2, ('Life', 'is'))

In [ ]:
# 삭제 -> TypeError 발생.
# del t1[0]
# 수정도 불가
# t1[0]=15

In [9]:
# +, * : 새로운 튜플을 생성하는 개념이기에 가능
print(t1 * 2)
print(t1 +t3)

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1)

In [10]:
# 인덱싱과 슬라이싱
print(t4[0])
print(t4[0:1])

1
(1,)

In [11]:
# 튜플 요소가 아닌 튜플 자체를 제거는 가능
del t1

### 딕셔너리
- 자바의 map 구조와 동일
- key:value
- key 중복불가

In [12]:
# 생성 : 키로 str, int,리스트, 튜플 모두 가능
dict1 = {}
dict2 = {"name":"hong","age":12}
dict3 = {0:"python",1:"java"}
dict4 = {"arr":[1,2,3,4,5], "t1" : (6,7,8)}

In [ ]:
# 조회 key 사용
dict2["age"]
# 기본적인 방법이긴 하나, 만약 keyError가 날 수도 있다. get방식이 더 안전하다
dict2.get('addr')

In [15]:
# 추가 
dict2["addr"] = "서울시 중구"
print(dict2)

{'name': 'hong', 'age': 12, 'addr': '서울시 중구'}

In [ ]:
# 존재하는 키 라면 value 업데이트 개념
dict2["name"] = "kim"
print(dict2)

{'name': 'kim', 'age': 12, 'addr': '서울시 중구'}

In [19]:
numbers = [1,2,4,5,6,7,2,7,2,5,8,9,6,6,4,1,2,3,4,4,3,5,9]
counter = {}
# 출력문 
# {1(key):1의 개수(value)}
# list 메소드
for i in range(1,10):
    counter[i] = numbers.count(i)
print(counter)

{1: 2, 2: 4, 3: 2, 4: 4, 5: 3, 6: 3, 7: 2, 8: 1, 9: 2}

In [20]:
del dict3[0]
print(dict3)

{1: 'java'}

In [21]:
# keys() : 키 값만모으기
print(dict1.keys())

dict_keys([])

In [22]:
# values(): 값만
print(dict2.values())

dict_values(['kim', 12, '서울시 중구'])

In [28]:
# items(): 키, 밸류 다
print(dict2.items())

for k, v in dict3.items():
    print(f"{k}:{v}")

dict_items([])
1:java

In [ ]:
# in : 포함하는지/not in : 포함하지 않는 지
print("사과" in ["귤", "포도"]) # false
print("사과" in dict2) # false
print("name" in dict2) # true -> 키 존재여부

False
False
True

In [ ]:
# clear() : 비우기
dict2.clear()
print(dict2)

{}

In [32]:
# 딕셔너리 생성하기
# A : 90, B:80, c:70 구성된 dict 생성
jumsu = {"A":90,"B":80,"C":70}
# B 키에 해당하는 값만 출력
print(jumsu["B"])
# B 키 값 삭제
del jumsu["B"]
print(jumsu)

80
{'A': 90, 'C': 70}

In [33]:
# 성인:10000, 청소년 : 8000, 아동: 3000 dict 생성
human = {"성인":10000, "청소년":8000,"아동":3000}
# 소아 : 0 항목 추가
human["소아"] = 0
# 키값만 출력
print(human.keys())
# value 출력
print(human.values())

dict_keys(['성인', '청소년', '아동', '소아'])
dict_values([10000, 8000, 3000, 0])

In [34]:
# 형변환도 가능
list(human.values())
list(human.keys())

['성인', '청소년', '아동', '소아']

### set : 집합 자료형
- 활용도는 떨어지는 편
- 중복불가
- 순서가 없다 -> 인덱싱 불가능

In [35]:
s1 = set()
s2 = set([1,2,3])
s3 = set([1,4,5,6,6])
s4 = set("Hello")

In [37]:
print(s1)
print(s2)
print(s3)
print(s4)

set()
{1, 2, 3}
{1, 4, 5, 6}
{'e', 'H', 'o', 'l'}

In [42]:
t1 = tuple(s2)
t1[2]
list1 = list(s3)
list1[2]

5

In [48]:
# 교집합, 합집합, 차집합
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
# 교집합
print(s1 & s2)
print(s1.intersection(s2))
# 합집합
print(s1 | s2)
print(s1.union(s2))
#차집합
print(s1 - s2)
print(s1.difference(s2))
# 대칭 차집합
print(s1 ^ s2)
print(s1.symmetric_difference(s2))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 7, 8, 9}
{1, 2, 3, 7, 8, 9}

In [ ]:
s2.add(15)

In [50]:
s2.remove(7)
s2

{4, 5, 6, 8, 9, 15}

### 함수
```
def 함수명(인수1,인수2...):
    수행할문장
```

In [51]:
def hello():
    print("Hello")

In [52]:
hello()

Hello

In [53]:
def hello2():
    return "Hello"

In [54]:
msg = hello2()
print(msg)

Hello

In [55]:
def add(a,b):
    return a+b

In [57]:
result = add(5,9)
print(result)

14

In [ ]:
# 기본값
def add(a,b=5):
    return a+b

In [59]:
result = add(10)
print(result)

15

In [ ]:
# 가변 파라메터 *
# 파라메터의 개수가 일정치 않은 경우 사용 -> 튜플로 받아냄
def info(*args):
    print(args)

info("wine")
info("wine","35","45","65")

('wine',)
('wine', '35', '45', '65')

In [66]:
def sum_mul(choice, *args):
    if choice == "+":
        result = 0
        for i in args:
            result += i
    elif choice == "*":
        result = 1
        for i in args:
            result *= i
    return result
print(sum_mul("+",1,2,3,4,5))
print(sum_mul("*",1,2,3,4,5))

15
120

In [70]:
### ** kwargs: 딕셔너리 형태로 처리
def args_func1(**kwargs):
    for k, v in kwargs.items():
        print(f"{k}:{v}")

args_func1(name="Park")
args_func1(name="Park", name2="Kim",name3="Hong", active=True)
args_func1(name="Park", age=25,title="Title")

name:Park
name:Park
name2:Kim
name3:Hong
active:True
name:Park
age:25
title:Title

In [ ]:
# * 붙은 부분은 지정된 것들 이후 남은 부분들을 가져가는 인자이기에 맨뒤로 가야한다
def args_func2(arg1,arg2=5,*args,**kwargs):
    print(arg1,arg2,args,kwargs)
args_func2(10,20)
args_func2(10,20,"Parg","kim")
args_func2(10,20,"Parg","kim",age=15,name="choi")

10 20 () {}
10 20 ('Parg', 'kim') {}
10 20 ('Parg', 'kim') {'age': 15, 'name': 'choi'}

In [73]:
# 다중 리턴 가능 : tuple에 담아서 보내줌
def sum_and_mul(a,b):
    return a+b, a*b
result = sum_and_mul(5,3)
print(result)
print(result[0])

sum1,mul1 = sum_and_mul(9,3)
print(f"{sum1}, {mul1}")

(8, 15)
8
12, 27

In [74]:
def say_nick(nick):
    if nick == "바보":
        return
    print(f"내 별명은 {nick}입니다")

print(say_nick("바보"))
say_nick("해바라기")

None
내 별명은 해바라기입니다

In [81]:
# 함수 정의 : 사칙연산()+-*/
def fourRules(num1,num2,op):
    if op =="+":
        print(num1 + num2)
    elif op =="-":
        print(num1 - num2)
    elif op =="*":
        print(num1 * num2)
    elif op =="//":
        print(num1 // num2)

fourRules(10,30,"//")

## 사용자한테 두 수와 연산자 입력받기
num1 = int(input("num1 입력"))
num2 = int(input("num2 입력"))
op = input("op 입력")
fourRules(num1,num2,op)

0
1000

In [88]:
import random

random.random() # Math.random() 0 <= x <1 와 동일
print(random.randint(10,20)) # 범위 지정 가능
print(random.randrange(1,46,2)) # 랜덤값에 스텝도 지정가능

20
13

In [95]:
import random
# 로또번호 추출
def get_number():
    return random.randrange(1,46)


# 리스트 나 set 으로 데이터 받기
lotto = set()
while True:
    lotto.add(get_number())
    if len(lotto) >= 6:
        break
# 정렬
lottoList = list(lotto)
lottoList.sort()
print(f" 금주의 로또 번호 : {lottoList}")

 금주의 로또 번호 : [1, 10, 13, 24, 28, 36]

In [96]:
a = 1
def func1(a):
    print("지역변수", a)
    a += 1
    print("덧셈 후 지역변수", a)

func1(5)
print(a)

지역변수 5
덧셈 후 지역변수 6
1

In [ ]:
a = 1
def func1(a):
    global a # 함수 내부에서 전영ㄱ변수로 선언된 변수 접근 방법
    a += 1
    print("덧셈 후 지역변수", a)

func1(5)

### 람다함수
- 단일문을 표현되는 익명 함수
- 1회성으로 함수를 만들어 사용

In [97]:
# 숫자를 받아서 **2 리턴
def square(num):
    return num ** 2
print(square(5))

25

In [98]:
square = lambda num:num **2
square(6)

36

In [99]:
add = lambda x,y:x+y
add(6,9)

15

In [102]:
# def strlen(s):
#     return len(s)

content = ['bob','charles','alexander3','teddy']

# 오름, 내림의 sort가 아닌 글자 길이에 따른 sort
# content.sort()
# content.sort(reverse=True)

content.sort(key=lambda s:len(s))
print(content)

['bob', 'teddy', 'charles', 'alexander3']

In [103]:
content = ['bob','charles','alexander3','teddy']
content.sort(key=len)
print(content)

['bob', 'teddy', 'charles', 'alexander3']

In [106]:
# filter, map, reduce
# filter -> 조건 만족하는 요소들만 새로운 list로
list1 = [1,2,3,4,5,8,9]
# 짝수요소만 추출후 새로운 리스트 생성
list2 = [i for i in list1 if i % 2 == 0]
list2

[2, 4, 8]

In [107]:
evens = []
def even(list1):
    for i in list1:
        if i % 2 == 0:
            evens.append(i)
even([1,5,8,96,3,26,7,4,6,8])
print(evens)

[8, 96, 26, 4, 6, 8]

In [108]:
# filter 사용
list1 = [1,2,3,4,6,8,9]
list(filter(lambda x:x%2==0, list1))

[2, 4, 6, 8]

In [109]:
# map
nums = [1,2,3,5,6,10,11,13,15,16,19]
list(map(lambda x:x**2,nums))

[1, 4, 9, 25, 36, 100, 121, 169, 225, 256, 361]